<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= comment.name %>
    </title>
</head>

<body>
    <h1>
        <%= comment.name %>
    </h1>
    <p>
        <%= comment.text %>
    </p>
    <form action="/journal/<%=comment._id%>?_method=DELETE" method="POST">
        <button type="submit">Delete <%= comment.name %></button>
    </form>
    <form action="/journal/<%=comment._id%>?_method=PUT" method="POST"></form>
    <a href="/journal/">Back to Journal</a>
    <a href="/journal/<%=comment._id%>/edit">Edit Entry</a>
</body>

</html>